<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style-home.css')}}">
</head>
<body>
    <div class="header">
        <div class="logo">logo</div>
        <div class="menu">
            <button id="theme-toggle" class="theme-btn">
                <i class="fa-solid fa-moon"></i>
            </button>
            <div class="search-container">

                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Search..." class="search-input">
                
            </div>
            <div class="login-container">
                <div class="login">Login</div>
            </div>
            <div class="main-menu">
                <div class="option">Eligibilty</div>
                <div class="option">Scheme</div>
                <div class="option">Verification</div>
            </div>
            <div class="profile">
                <img src="./assets/profile.webp" class="profile-img">
            </div>
        </div>
    </div>
    
    <div class="content">
        <!-- <div class="name">name</div> -->
        <div class="container">
            <div class="scheme-ad">
                <h1>Scheme</h1>
                <p>scheme scheme scheme scheme scheme</p>
                <div class="verification-container">
                    
                    <h3>Find Your Scheme</h3>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            
        </div>
        <!-- <div class="search">
            <input type="text" placeholder="Search here..." />
            <button type="button">Search</button>
        </div> -->
        <div class="features">
            <div class="recommendations">
                <div class="features-title">
                    <i class="fa-solid fa-lightbulb"></i>
                    <h3>AI Recommendations</h3>
                </div>
                <div class="features-container">
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="./assets/pexels-equalstock-20527483.jpg">
                            <div class="card-info">
                                <h3>title</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur illo officia assumenda dolor, consequatur dolore ad cum odio nobis molestiae, consectetur, exercitationem unde saepe deserunt ratione labore asperiores ipsa ut?</p>
                            </div>
                        </div>
                        <button>Check Eligibility</button>
                    </div>
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="./assets/pexels-equalstock-20527483.jpg">
                            <div class="card-info">
                                <h3>title</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur illo officia assumenda dolor, consequatur dolore ad cum odio nobis molestiae, consectetur, exercitationem unde saepe deserunt ratione labore asperiores ipsa ut?</p>
                            </div>
                        </div>
                        <button>Check Eligibility</button>
                    </div>
                    
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="./assets/pexels-equalstock-20527483.jpg">
                            <div class="card-info">
                                <h3>title</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur illo officia assumenda dolor, consequatur dolore ad cum odio nobis molestiae, consectetur, exercitationem unde saepe deserunt ratione labore asperiores ipsa ut?</p>
                            </div>
                        </div>
                        <button>Check Eligibility</button>
                    </div>
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="./assets/pexels-equalstock-20527483.jpg">
                            <div class="card-info">
                                <h3>title</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur illo officia assumenda dolor, consequatur dolore ad cum odio nobis molestiae, consectetur, exercitationem unde saepe deserunt ratione labore asperiores ipsa ut?</p>
                            </div>
                        </div>
                        <button>Check Eligibility</button>
                    </div>
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="./assets/pexels-equalstock-20527483.jpg">
                            <div class="card-info">
                                <h3>title</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur illo officia assumenda dolor, consequatur dolore ad cum odio nobis molestiae, consectetur, exercitationem unde saepe deserunt ratione labore asperiores ipsa ut?</p>
                            </div>
                        </div>
                        <button>Check Eligibility</button>
                    </div>
                    
                </div>
            </div>
        </div>    

    
        <div class="suggestions">
            <div class="recommendations">
                <div class="scheme-selector">
                    <i class="fas fa-list-alt"></i>
                    <select>
                        <option value="en">Categories</option>
                        <option value="es">States/UTs</option>
                        <option value="fr">Central Ministries</option>
                    </select>
                </div>
                <div  class="features-container">
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="state-container">
                        <div class="flex-container">
                        <div class="image-wrapper">
                            <img 
                            alt="Karnataka" 
                            title="Karnataka" 
                            src="./assets/Karnataka.svg" 
                            class="state-image"
                            loading="lazy"
                            />
                        </div>
                    
                        <div class="state-info">
                            <h2 class="state-title">Karnataka</h2>
                    
                            <div class="state-numbers">
                            <span class="state-number">
                                <span class="number">59</span>
                                <span class="label">State</span>
                            </span>
                    
                            <span class="state-number">
                                <span class="number">506</span>
                                <span class="label">Central</span>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const themeToggleButton = document.getElementById("theme-toggle");
        const body = document.body;

        themeToggleButton.addEventListener("click", () => {
            body.classList.toggle("dark-mode");

            // Update the icon based on the mode
            const icon = themeToggleButton.querySelector("i");
            if (body.classList.contains("dark-mode")) {
                icon.classList.remove("fa-moon");
                icon.classList.add("fa-sun");
            } else {
                icon.classList.remove("fa-sun");
                icon.classList.add("fa-moon");
            }
        });

    </script>
    
</body>
</html>